{% extends "layout.html" %} {% block title %}Diary Entries{% endblock %} {%
block head %}
<script>
  function filterEntries() {
    const searchInput = document
      .getElementById("searchInput")
      .value.toLowerCase();
    const entries = document.getElementsByClassName("entry-card");

    for (let i = 0; i < entries.length; i++) {
      const entry = entries[i];
      const textContent = entry.textContent.toLowerCase();
      if (textContent.includes(searchInput)) {
        entry.style.display = "";
      } else {
        entry.style.display = "none";
      }
    }
  }
</script>
{% endblock %} {% block content %}
<div class="container mt-5 pt-5">
  <h1>All Diary Entries</h1>
  <nav class="navbar navbar-light bg-light">
    <form
      class="form-inline"
      onsubmit="event.preventDefault(); filterEntries();"
    >
      <input
        class="form-control mr-sm-2"
        type="search"
        id="searchInput"
        placeholder="Search"
        aria-label="Search"
        onkeyup="filterEntries()"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </nav>
  <div id="entries-container">
    {% for entry in diary_entries %}
    <div class="container container-border">
      <div class="card mb-3 entry-card">
        <div class="card-body">
          <h5 class="card-title">Developer Name: {{ entry[8] }}</h5>
          <p class="card-text"><strong>Project Name:</strong> {{ entry[1] }}</p>
          <p class="card-text"><strong>Summary:</strong> {{ entry[2] }}</p>
          <p class="card-text">
            <strong>Programming Language:</strong> {{ entry[3] }}
          </p>
          <p class="card-text">
            <strong>Date/time entry:</strong> {{ entry[9] }}
          </p>
          <p class="card-text"><strong>Time Started:</strong> {{ entry[4] }}</p>
          <p class="card-text">
            <strong>Time Finished:</strong> {{ entry[5] }}
          </p>
          <p class="card-text"><strong>Description:</strong> {{ entry[6] }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
