{% extends 'signlogin.html' %} {% block content %}
<div
  class="container mt-5 mb-5"
  style="margin-top: 200px; margin-bottom: 150px"
>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form id="signupForm" method="POST" action="{{ url_for('signup') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="mb-3"></div>
        <div class="mb-3">
          <label for="developerId" class="form-label">Developer ID</label>
          <input
            type="text"
            class="form-control"
            id="developerId"
            name="developerId"
            pattern="\d{5}"
            placeholder="Enter 5-digit Developer ID"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            name="email"
            type="email"
            class="form-control"
            id="email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            placeholder="name@example.com"
            required
          />
        </div>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            required
          />
        </div>
        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="invalidCheck"
              required
            />
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="mb-3"></div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </form>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("signupForm")
    .addEventListener("submit", function (event) {
      var password = document.getElementById("password").value;
      if (!password) {
        event.preventDefault(); // Prevent form submission
        alert("Password is required.");
      }
    });
</script>

{% endblock %}
