{% extends 'signlogin.html' %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <h1 class="display-1"></h1>
  </div>
  <div
    class="container mt-5 mb-5"
    style="margin-top: 200px; margin-bottom: 150px"
  >
    <div class="row">
      <div class="col-md-6">
        <div class="text-container">
          <h2>Welcome to Developer Diary</h2>
          <p>
            This application is where you can keep track of your development
            progress, share your thoughts, and connect with other developers.
          </p>
          <p>Sign up to start your journey with the community.</p>
        </div>
      </div>
      <div class="col-md-6">
        <form method="POST" action="{{ url_for('signup') }}">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              name="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name:</label>
            <input
              name="firstName"
              type="text"
              class="form-control"
              id="firstName"
              placeholder="Enter your first name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input
              name="lastName"
              type="text"
              class="form-control"
              id="lastName"
              placeholder="Enter your last name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <div class="col-12 mb-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="invalidCheck"
                required
              />
              <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
